.header {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    padding-left: 5em;
    color :whitesmoke;
    /* background: #2E86C1 ; */
    /* background: #32e0c4; */
    background: #6bc5d2;
    height: 40px;
  }
  
  .head {
    /* background-image: url("./assets/3.jpg"); */
    position: fixed;
    top: 0;
    width: 100%;
   
  }

  button:hover{
    color:black;
  }

  button {
    font-size: 18px;
    color:white;
    text-shadow: .1em .1em rgba(0, 0, 0, 0.3);
    /* font-size:1.3em; */
    
  }
  
  .drop {
    color: white;
    /* font-weight: bold; */
    background: rgb(71, 72, 73);
  }
  
  h1 {
    color:  rgb(15, 43, 94);
    font-size: 30px;
    text-shadow: 2px 2px white; 
    font-weight: 800;
    font-size: 2.4em;

  }
  
  
  .drop:hover {
    color: black;
  }