<div class="top"> <h1>About Us</h1></div>
<div class="container">
<div class="main">

<div >
  
<p>
    The website is all about Books.
It's specially design for the reader who love to read the books any article.
The mission behind designing this was to make more use of digital era.<br>
<br>
As the technologies are upgrading we should be changing the working style and methods as per the changing trend,
One of the way is like Kindle all the books are availbale on the kindle we can purchase some books or some are free of cost.
</p>                           
</div>


</div>
</div>
<a href=""></a>
